.prodtable{
  // position: absolute;
  // width: 100%;
  display: flex;
  padding-top: 50px;
}
table {
    width: 90%;
  }

.button-container {
    display: flex;
  }

  .button1{
    background-color: white;
    color: black;
    width: 400px;
    margin-right: 30px;
    width: 200px;
}
.button2{
    background-color: white;
    color: black;
    margin-right: 30px;
    width: 400px; width: 200px;
}
.button3{
  background-color: white;
  color: black;
  width: 400px; width: 200px;
}
.prodquantity{
  width: 30px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  border-color: azure;
}