table {
  width: 90%;
}
.prodtable{
  display: flex;
  padding-top: 50px;
  justify-content: center;
}
.button-container {
    display: flex;
  }

//   .button1{
//     background-color: white;
//     color: black;
//     margin-right: 30px;
//     width: 200px;
// }
.button2{
    background-color: white;
    color: black;
    margin-right: 10px;
    width: 170px;
}
.button3{
  background-color: white;
  color: black;
  width: 70px;
}
.prodquantity{
  width: 30px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  border-color: azure;
}