<div class="container mt-5">
    <div>
      <div class="card">
        <div class="row">
          <div class="col-6">
            <img src="" alt="product image">
          </div>
          <div class="col-6">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{productDetails.productName}}</mat-card-title>
                <mat-card-subtitle>Dressbery</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p [innerHTML]="'Description: ' + productDetails.productDescription"></p>
                <p [innerHTML]="'<del>' + productDetails.productActualPrice + '</del>'"></p>
                <p>{{productDetails.productDiscountPrice}}</p>
                <p>{{productDetails.quantity}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 
<h2>Product Details:</h2>
<p>Product ID: {{productId}}</p>
<p>Product Name: {{productDetails.productName}}</p>
<p>Product Description: {{productDetails.productDescription}}</p>
<p>Product Actual Price: {{productDetails.productActualPrice}}</p>
<p>Product Discount Price: {{productDetails.productDiscountPrice}}</p>
<p>Quantity: {{productDetails.quantity}}</p> 